@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');




section{
    display: block;
}

section table{
    border-color: #ffc6c7;
}

section table tr td{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #594a4e;
    font-weight: bold;
    font-size: 20px;
}

span{
    color: #ff8ba7;
}

main{
    background-color:#fffffe ;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 5px 15px 15px; 
    color: #594a4e;
}

main img{
    width: 560px;
    height: 315px;
}

section{
     background-color: #fffffe;
     color:#594a4e;
     font-size: 20px;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 section h2{
    color:#33272a
}

 section img {
      width: 560px;
    height: 315px;   
}


button a{
    color: #33272a;
}

button a:hover{
    color: #ff8ba7
}


footer{
    background-color: #faeee7;
    font-weight: bold;   
}

footer ul li p{
    color: #33272a;
}

footer ul li a{
    color: #33272a;
    
   
}

footer ul li a:hover{
    color: #ff8ba7;
  
}

footer ul li{
    display: inline-block;
    list-style: none;   
}

/* ID */
#navegacion1{
    font-size: 30px;
    background-color: #faeee7;
    list-style: none;
}



#Galeria{
  display: inline-block;
  background-color: #fffffe;
}

#Galeria div{
    display: inline-block;
}

#Galeria div p{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #594a4e;
  
}

#Galeria img{
    width:560px ;
    height:  315px;
    border-style: solid;
    border-color: #ffc6c7;
}

#Ventas{
    background-color: #fffffe;
}

#Ventas div{
    background-color: #faeee7;
    display:inline-block;
    margin: 15px;
}

#Ventas div img{
    width: 230px;
    height: 170px;
    
    padding: 30px;
}

#Ventas div p{
    font-size: 20px;
    font-weight: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #33272a; 
    font-weight: bold;
    margin-left: 15px

}
#PROMOS{
    border-style: solid;
    border-radius: 7px;
    border-color: #ffc6c7;
    background-color: #fffffe;
}


#PROMOS div{
    border-style: dashed;
    border-color:#c3f0ca;
    border-radius: 7px;
    margin: 15px;
  
}

#PROMOS div p{
    font-size: 20px;
    font-weight: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #33272a; 
    font-weight: bold;
    margin-left: 15px
}

#PROMOS div img{
    width: 230px;
    height: 170px;
    padding: 30px;
    display: flex;
   
}


/* Class */
.head{
    display: flex;
    justify-content: space-between;
}
.navegacion1{
    background-color: #faeee7;
    justify-content: space-between;
   
 
}

/* Inicio Main1*/
.Main1{
    background-color: #fffffe;
    text-align: center;    
    display: grid;
    grid-template-rows: 30px 2fr 1fr;
    grid-template-columns: 100%;
    grid-template-areas: 
        "h2"
        "imagenmain"
        "pmain";
      
}
.h2{
    grid-area: h2;
}
.pmain{
    grid-area: pmain;
    background-color: #faeee7;
}

.imagenmain{
    grid-area: imagenmain;
    border-style: solid;
    border-color:#ffc6c7;
    margin: auto auto auto auto;
    
    
}
/* Fin de Main1 de Inicio*/

/* Section1 de Inicio */
.divsectioninicio{
    display: grid;
    grid-template-rows: 40px 1fr 1fr ;
    grid-template-columns: 100%;
    grid-template-areas: 
        "h2sectioninicio"
        "psectioninicio"
        "imagen2"
          ;
   
}

@media only screen and (min-width: 768px){
    .Main1{
        background-color: #fffffe;
        text-align: center;    
        display: grid;
        grid-template-rows: 70px 1fr 30%;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
            "h2 h2"
            "imagenmain imagenmain"
            "pmain pmain";
          
    }
   
   
   
    .divsectioninicio{
        display: grid;
        grid-template-rows: 40px 30% 1fr ;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
            "h2sectioninicio h2sectioninicio"
            "psectioninicio psectioninicio " 
            "imagen2  imagen2"
              ;
       
    }
}

@media only screen and (min-width: 1280px){
    .Main1{
        background-color: #fffffe;
        text-align: center;    
        display: grid;
        grid-template-rows: 20%;
        grid-template-columns: 60% 40%;
        grid-template-areas: 
            "h2 h2"
            "pmain imagenmain";
          
    }

    .divsectioninicio{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 40% 60%;
        grid-template-areas: 
            "h2sectioninicio h2sectioninicio"
            "imagen2    psectioninicio"
              ;
    }       
}

.h2sectioninicio{
    grid-area: h2sectioninicio;
    margin-left: calc(70px + 50px);
}

.psectioninicio{
    background-color: #faeee7;
    grid-area: psectioninicio;
}

.imagen2{
    
    grid-area: imagen2;
    border-style: solid;
    border-color:#ffc6c7;
    margin: auto auto auto auto;
}
/* Fin Section1 */

.Boton{
    color: #33272a;
    animation: Rebota 1s infinite;
    
}

.Boton:hover{
    color: #ff8ba7;
}
.Texto_de_formulario{
    font-weight: bold;
}

/* Sobre Mi */


.divmainsobremi1{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "h2mainsobremi1"
        "textotrayectoria1"
        "foto_certificado"
       
    ;
}

.divmainsobremi2{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "h2mainsobremi2"
        "textotrayectoria2"
        "fotocurso"
        "textotrayectoria3"
    ;
}

@media only screen and (min-width: 768px){
    .divmainsobremi1{
        display: grid;
        grid-template-columns:50% 50%;
        grid-template-rows: auto 2fr ;
        grid-template-areas:
            "h2mainsobremi1 h2mainsobremi1"
            "textotrayectoria1 foto_certificado"
            
           
        ;
    }
    
    .divmainsobremi2{
        display: grid;
        grid-template-columns:50% 50%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "h2mainsobremi2 h2mainsobremi2"
            "textotrayectoria2 textotrayectoria2"
            "fotocurso fotocurso"
            "textotrayectoria3 textotrayectoria3"
           
        ;
    }


}

@media only screen and (min-width: 1280px){
    .divmainsobremi1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
      
        grid-template-areas:
            "h2mainsobremi1 h2mainsobremi1 h2mainsobremi1"
            "textotrayectoria1 textotrayectoria1 foto_certificado"
           
        ;
    }
    
    .divmainsobremi2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "h2mainsobremi2 h2mainsobremi2 h2mainsobremi2"
            "fotocurso  textotrayectoria2 textotrayectoria2"
            "textotrayectoria3 textotrayectoria3 textotrayectoria3"
        ;
    }

}

.main2{
    display: inline;
}

.textotrayectoria1{
    background-color: #faeee7;
    text-align: center;
    grid-area: textotrayectoria1;
}

.textotrayectoria2{
       background-color: #faeee7;
    text-align: center;
    grid-area: textotrayectoria2
}

.textotrayectoria3{
    background-color: #faeee7;
}

.fotocurso{
    width: 560px;
    height: 315px;
    grid-area: fotocurso;
    background-color: #ffc6c7;  
    margin: auto auto auto auto;
    border-style: solid;
    border-color: #ffc6c7; 
}

.foto_certificado{
   grid-area: foto_certificado;
    background-color: #ffc6c7;
    margin: auto;
    border-style: solid;
    border-color: #ffc6c7;
    
}

.sectiondetrabajo{
    background-color: #fffffe;
    display:flex;
    justify-content: space-evenly;
}

.sectiondetrabajo img{
    width: 230px;
    height: 170px;
    border-style: solid;
    border-color: #ffc6c7;
}

.h2mainsobremi1{
    grid-area: h2mainsobremi1;
    text-align: center;

}

.h2mainsobremi2{
    text-align: center;
}   

.h3sobremi{
    text-align: center;
}



.linkgaleria1{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color: #33272a; 
}

.linkgaleria1:hover{
    color: #ff8ba7;
    transform: scale(1.3);
    transition: 0.5s; 
}

/* Fin de Sobre mi */

/* Productos y Servicios */
.Tablas{
        background-color: #faeee7;
        border-style: solid;
        border-color: #ffc6c7;
        border-radius: 5px;
        padding: auto;
        margin: auto;
        display: grid;
        grid-template-columns:1fr 1fr  ;
        grid-template-rows:auto auto auto  ;
        grid-template-areas: 
        "h2serv h2product"
        "tablaserv  tablaproduct"
        "linkproductosgaleria  linkproductosgaleria"
        
        ;
}

.h2serv{
    grid-area: h2serv;
    
    
    ;
}

.h2product{
    grid-area: h2product;
    background-color: #faeee7;
}


.tabla-de-servicios{
    grid-area: tablaserv;
    margin: auto auto auto auto;
    
  

}

.tabla-de-productos{
    grid-area: tablaproduct;
    margin: auto auto auto auto;
}



.linkproductosagaleria{
    display: flex;
    grid-area: linkproductosgaleria;
    text-align: center;
    font-size: 20px;
    font-weight: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color: #33272a; 
    margin: auto auto auto auto;
   
}

.linkproductosagaleria:hover{
    color: #ff8ba7;
    transform: scale(0.9);
    transition: 1.5s;
}
.imagenesproductos{
    border-style: solid;
    border-color: #ffc6c7;
}

.imagenesproductos:hover{
    
    transform: scale(1.1);
    transition: 1s;
}


.Formulario{
    font-size: 20px;
    font-weight: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color: #33272a; 
    

}
/* Fin de Productos y Servicios */

/* Promos */

.Promosflex{
    display:column;
    margin: auto auto auto auto;
   
    
}

@media only screen and (min-width:768px){
    .Promosflex{
        display: flex;
        flex-wrap: wrap;
    }
}


@media only screen and (min-width:1280px){
    .Promosflex{
        display: flex;
        justify-content: space-evenly;
        
    }
}
/* Animaciones */
.Rebota{
    animation: Rebota 2s infinite;
}
.Colores{
    animation: Colores 2s infinite;
}
.h2promoanimado{
    display: flex;
    margin: auto auto auto auto;
}
.fotoanimada:hover{
    animation: Colores 1s infinite;
    transform: scale(1.1);
    transition: 1s;
    
}

.linkanimado{
    animation: saltarin 2s infinite;
}

@keyframes saltarin{
    0%{top: 0px;}
    50%{top: 5px;}
    100%{top: 0px;}
}

@keyframes Colores{
    0%{ left: 0px ; background-color: #ff8ba7;}
    50%{left: 10px ; background-color:#c3f0ca;}
    100%{left: 0px ;background-color: #ff8ba7;}
}

